* {
    margin: auto;
}

.library-font {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.header-title {
    text-align: center;
    letter-spacing: 2vw;
    background-color: #aaadac;
    height: 15vh;
    display: grid;
}

.addbookform{
    height: 25vh;
    background-color: #e8e9e8;
    display: grid;
}

.bookforminputs{
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    gap: 2vh;
}

.addBookButton{
    color: black;
    transition: 0.2s;
    width: 8vw;
}

.addBookButton:hover{
    color: black;
    background-color: white;
}

.libraryBooks{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5vw;
}

.book{
    width: 30vh;
    height: 40vh;
    background: rgba( 174, 238, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
}

.removeBook{
    transition: 0.2s;
    background-color: white;
    color: black;
    border-radius: 10%;
}

.removeBook:hover{
    color: red;
}